
<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head.ejs %>
</head>
<body>

<% include partials/header.ejs %>
<hr>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="well well-sm">
        <form class="form-horizontal" action="/" method="post">
          <fieldset>
            <!-- Title -->
            <div class="form-group">
              <label for="subject" class="col-md-3 control-label"> Title </label>
              <div class="col-md-9">
                <input autocomplete='off' id="title" name="title" type="text" value="<%= appdata.movie.title %>"  class="form-control">
              </div>
            </div>

            <!-- Release date -->
            <div class="form-group">
              <label class="col-md-3 control-label"> Release date</label>
              <div class="col-md-9">
                <input autocomplete='off' id="releasedate" name="releasedate" type="text" value="<%= appdata.movie.releasedate %>"  class="form-control">

              </div>
            </div>

            <!-- Duration-->
            <div class="form-group">
              <label class="col-md-3 control-label"> Duration</label>
              <div class="col-md-9">
                <input autocomplete='off' id="duration" name="duration" type="text" value="<%= appdata.movie.duration %>"  class="form-control">
              </div>
            </div>
            <!-- Genre-->
            <div class="form-group">
              <label class="col-md-3 control-label"> Genre </label>
              <div class="col-md-9">
                <input autocomplete='off' id="genre" name="genre" type="text" value="<%= appdata.movie.genre %>"  class="form-control">
              </div>
            </div>

            <!-- Synopsis -->
            <div class="form-group">
              <label class="col-md-3 control-label">Synopsis</label>
              <div class="col-md-9">
                <textarea autocomplete='off' id="synopsis" name="synopsis" type="text" class="form-control"><%= appdata.movie.synopsis %> </textarea>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="whitespace"></label>
            <div class="col-md-9">
                <button type="submit" name="save" value="submit" class="btn btn-success"> Save</button>
                <a href="/" class="btn btn-danger"> Cancel</a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>


</body>
</html>
